/* start variable */

:root {
  --transition-duration: 0.3s;
  --active-background: rgb(212, 238, 255);
  --active-background-alt: rgb(180, 225, 255);
}

/* end variable */
/* start global rules */

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}

/* end global rules */

body {
  display: flex;
}

/* start sidebar */

aside {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  min-height: 100vh;
  z-index: 3;
}
aside .logo {
  font-weight: bold;
  width: fit-content;
  margin: 0 auto 50px;
  text-transform: capitalize;
  position: relative;
}
aside .logo::before {
  content: '';
  height: 2px;
  width: 120%;
  background-color: black;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
aside .logo::after {
  content: '';
  --ball-size: 12px;
  width: var(--ball-size);
  height: var(--ball-size);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: calc(-20px - var(--ball-size)/2 - 4px + 2px/2);
  /* -20px [vertical offset] - size/2 [ball radius] - border width + half line(::before) width */
  left: 50%;
  transform: translateX(-50%);
  border: 4px white solid;
}
aside .links li:not(:last-child) {
  margin-bottom: 5px;
}
aside .links li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  transition: var(--transition-duration);
}
aside .links li a:hover {
  background-color: #f6f6f6;
}
aside .links li.active a {
  /* background-color: #ebebeb; */
  background-color: var(--active-background);
}
aside .links li.active a:hover {
  /* background-color: #e3e3e3; */
  background-color: var(--active-background-alt);
}

/* end sidebar */

/* start main */

main {
  flex: 1;
}

/* start header */

header {
  height: 67px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
header form {
  position: relative;
}
header form i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}
header input[type='search'] {
  padding: 10px 10px 10px 35px;
  border-radius: 10px;
  border: 1px #ccc solid;
  outline: none;
  width: 180px;
  transition: var(--transition-duration);
}
header input[type='search']:focus {
  width: 210px;
}
header input[type='search']::placeholder {
  font-size: 14px;
  letter-spacing: -1px;
}
header input[type='search']:focus::placeholder {
  color: transparent;
}
header .options {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .options .notif {
  position: relative;
  font-size: 20px;
}
header .options .notif::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  border-radius: 50%;
}
header .options .profile-pic {
  width: 32px;
}
header .options .profile-pic img {
  max-width: 100%;
}

/* end header */

/* end main */